doctype 5
html
  head
    title hello world
    link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css")
  body
    div.container
      div.page-header
        h2 Hello world 
          block title
      ul.inline
        li
          a(href="/") index
        li
          a(href="/markdown") markdown
       
      block content
      hr
      p &copy; loki2302