extends layout

block title
  small index page

block content
  :markdown
    # hey there
    
    *I* _can_ `use` markdown here.
    
    1. Item 1
    2. Item 2
    3. Item 3
    
    Here's the code
    
        123
        
    And it does not work.
    
    